services:
  - type: web
    name: hetimenu-backend
    env: node
    buildCommand: cd backend && npm install
    startCommand: cd backend && node server.js
    envVars:
      - key: PORT
        value: 8080
      - key: NODE_ENV
        value: production

  - type: static
    name: hetimenu-frontend
    buildCommand: cd hetimenu && npm install && npm run build
    staticPublishPath: ./hetimenu/build
    envVars:
      - key: REACT_APP_API_URL
        value: https://hetimenu-backend.onrender.com
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
